.nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #000000;
  background: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav button {
  flex: 1;
  margin: 0 4px;
  padding: 10px;
  font-size: 16px;
}
